<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>first Name</th>
            <th>last Name</th>
            <th>username</th>
            <th>password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" [class.user-selected]="user === userDetail" (click)="selectUser(user)">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td><a class="btn btn-danger" (click)="deleteUser(user.id)">Delete</a></td>
        </tr>
    </tbody>
</table>